<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <style>
      .user-container {
        padding: 1rem;
        margin: 1rem;
        border: 2px solid red;
      }
      .profile-image {
        height: 5rem;
        border-radius: 3rem;
      }
      tr {
        padding: 1rem;
      }
      th,
      td {
        padding: 1rem 3rem;
      }
    </style>
  </head>
  <body>
    <% if (name) { %>
    <h2>Welcome <%=name%>, to our users page.</h2>
    <% } %>

    <p>Users</p>

    <!-- <ul>
      <% users.forEach((user)=>{%>
      <li><%=user.name%></li>
      <li><%=user.password%></li>
      <li><%=user.email%></li>
      <li><%=user.image%></li>
      <%});%>
    </ul> -->

    <div class="user-container">
      <table>
        <tr>
          <th>Profile Photo</th>
          <th>Name</th>
          <th>Email</th>
          <th>Bitrthdate</th>
          <th>Role</th>
        </tr>

        <% users.forEach((user)=>{%>
        <tr>
          <td>
            <img
              src="<%= user.imageurl %>"
              alt="Profile image"
              class="profile-image"
            />
          </td>
          <td><h3><%=user.name%></h3></td>
          <td><p><%=user.email%></p></td>
          <td><p><%=user.birthdate%></p></td>
          <td><p><%=user.role%></p></td>
        </tr>
        <%});%>
      </table>
    </div>
  </body>
</html>

<!-- 
. Name
. Email
. Birthdate
. Profile Photo
. Role (SuperAdmin / ViewAdmin / EditAdmin) 
-->

<!-- For Single User
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Add New User</p>
    <form action="/user">
      <label for="name">Name</label><input type="text" id="name" />
      <label for="email">Email</label><input type="email" id="email" />
      <label for="password">Password</label
      ><input type="password" id="password" />
      <label for="imageurl">Imageurl</label><input type="link" id="imageurl" />
    </form>
  </body>
</html> -->
